@font-face
{
    font-family: 'Raleway';
    src: url('Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf');
}

@font-face
{
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
    src: url('polices/Roboto-Bold.ttf');
    src: url('polices/Roboto-Italic.ttf');
}

*{
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFBF00;
    list-style: none;
}

Body
{  
    /*https://developer.mozilla.org/fr/docs/Web/CSS/background-image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.5)),
                url('images/background.jpg');   
    margin: 3%; 
}

/* Application de la font d'écriture */

h3, nav a
{
    font-family: 'Raleway', serif;
    text-transform: uppercase;
}

h1
{
    font-family: 'Raleway', serif;
    font-size: 2.5em;
}

h2
{
    font-family: 'Raleway', serif;
    font-size: 1.1em;
}

/* En tête */

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav {
    width: 20%;
}

header ul{
    display: flex;
    justify-content: space-between;
}

/* Article principal */

.home div{
    display: flex;
    justify-content: space-between;
}
article{
 background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.199)),
 url(/Images/background_div.jpg);
}

.moi, .univers{
    width: 15%;
    height: 20%;
}

.quotidien{
    width: 50%;
}

.moi img{
    width: 60%;
}

.quotidien img{
    float: left;
    width: 30%;
    margin: 1%;
}

.univers img
{
    width: 90%;
    margin: 5%;
}

/* bas de page, info complémentaire*/

footer{
    width: 15%;
}
footer h3{
    margin-left: 10%;
}
footer ul{
    display: flex;
    list-style: none;
}
footer nav li a img{
    width: 70%;
}

/*formulaire*/

.forme{
    width: 47%;
    margin-left: 26%;
    margin-top: 8%;
    background: rgba(0, 0, 0, 0.5);
    padding: 1%;
}

.forme form{
    display: flex;
    flex-direction: column;
}

.forme form label{
    margin-top: 5%;
}
.forme form input{
    width: 30%;
}

.forme form button{
    width: 10%;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 45%;
}

@media (max-width: 50em){
    .home div{
        flex-direction: column;
        align-items: center;
    }
    .home article{
        width: 90%;
        margin-bottom: 3%;
    }
    header ul{
        display: block;
    }
    h1{
    font-family: 'Raleway', serif;
    font-size: 1.5em;
    }
    footer nav li a img{
    width: 3em;
    }
    .univers img{
    width: 15em;
    margin: 0.5em;
    }
    .moi img{
    width: 10em;
    float: left;
    margin-right: 0.5em;
    }
    .forme form button{
    width: 10em;
    border-radius: 1.25em;
    margin-top: 1em;
    margin-left: 6em;
    }
}