@font-face
{
    font-family: 'Raleway';
    src: url('Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
    src: url('polices/Roboto-Bold.ttf');
    src: url('polices/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 1800px) {
  .container {
    margin: 1em 2em;
  }
}

Body
{
    color: #FFBF00;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    background: url('images/background.jpg');    
    background-repeat:no-repeat;   
    position: relative;
}

/* Application de la font d'écriture */

section h3, footer h3, nav a
{
    font-family: Raleway, serif;
    text-transform: uppercase;
    font-weight: normal;
    color: gold;
}

header h1
{
    font-family: 'Raleway', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'Raleway', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* En tête */

Header
{
    display: flex;
}

.bloc_principal
{
    width: 900px;
    margin: auto;
}

.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 59px;
    height: 60px;
}

header nav {
    margin-top: 3%;
}
header nav ul
{
    display: flex;
    list-style-type: none;
}

header nav li
{
    margin-right: 20px;
}

header nav a 
{
    font-size: 2em;
    text-decoration: none;
    padding-bottom: 3px;
    color: #8080FF;
}

header nav a:hover
{
    color: #330099;
    border-bottom: 3px solid #330099;
}


/* Article principal */

.quotidien{
    width: 49%;
    margin-left: 26%;
    margin-top: 8%;
    background: rgba(0, 0, 0, 0.5);
    padding: 1%;
}
.quotidien img{
    float: left;
    width: 30%;
    margin: 1%;
}

aside{
    position: absolute;
    background: url('images/background_div.jpg');
    width: 12%;
    top: 20%;
    padding: 1%;
    color: darkslateblue;
}

aside img{
    width: 40%;
}

/* bas de page, info complémentaire*/

.mes_univers
{
    position: absolute;    
    width: 12%;
    top: 20%;
    right: 5%;
}

.mes_univers img
{
    width: 100%
}

footer{
    width: 15%;
}
footer h3{
    margin-left: 10%;
}
footer ul{
    display: flex;
    list-style: none;
}
footer nav li a img{
    width: 50%;
}

/*formulaire*/

.forme{
    width: 47%;
    margin-left: 26%;
    margin-top: 8%;
    background: rgba(0, 0, 0, 0.5);
    padding: 1%;
}

.forme form{
    display: flex;
    flex-direction: column;
}

.forme form label{
    margin-top: 5%;
}
.forme form input{
    width: 30%;
}

.forme form button{
    width: 10%;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 45%;
}